.mainLeft {
  font-size: 50px;
  color: #333231;
  font-family: SFProDisplay, SFProDisplay;
  font-weight: 900;
  max-width: 560px;
  min-width: 540px;
  // background: gray;

  .introduce {
    font-size: 24px;
    font-family: SFProDisplay, SFProDisplay;
    font-weight: 400;
    color: #333231;
  }
}

.mainRight {
  width: auto;

  img {
    width: auto;
  }
}